body {
  font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  background: #778;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


table { 
/*margin-left:auto; margin-right:auto;*/
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	/**/border-collapse: collapse;
	background-color: rgb(255, 255, 240);

  font-size: 16px;
  font-family: Monaco, Courier, monospace;
}
table th {
	border-width: 1px;
	padding: 3px 6px;
	/*border-style: solid;*/
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: gray;
	background-color: #FCD088;
	-moz-border-radius: ;
}
table td {
	border-width: 1px;
	padding: 3px 6px;
	/*border-style: solid;*/
	border-left-style: solid;
	border-right-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

/*


table,td,th{
	border:1px solid #000;
	border-collapse:collapse;
	margin:0;
	padding:0;
}
td,th{
	padding:.2em .5em;
	vertical-align:top;
	font-weight:normal;
}
thead th{
	background:#666;
	color:#fff;
}
tbody td{
	background:#ccc;
}
tbody th{
	background:#999;
}
tbody tr.odd td{
	background:#eee;
}
tbody tr.odd th{
	background:#ccc;
}
caption{
	text-align:left;
	font-size:140%;
	text-transform:uppercase;
	letter-spacing:-1px;
}
table th a:link{
	color:#030;
}
table th a:visited{
	color:#003;
}
table td a:link{
	color:#369;
}
table td a:visited{
	color:#000;
}
table a:hover{
	text-decoration:none;
}
table a:active{
	color:#000;
}
*/